<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Leave Management</title>
    <link href="public/css/output.css" rel="stylesheet">
    
</head>
<body class="bg-[#D3C4D1]">
    <nav>
        <div class="p-5 bg-[#FF729F] flex justify-center">
            <a href="#" class=" sm:text-2xl lg:text-3xl text-[#FFFFFF] cursor-pointer hover:scale-105 hover:z-10 poppins font-black">Employee Leave Management System</a>
        </div>
    </nav>
        
    <div class="log-sign w-[80%] sm:w-[70%] max-w-[600px] bg-[#56CBF9] mx-auto my-10 ">
            <div class="titles flex border-[#FF729F] ">
                <div class="flex-1 flex justify-center p-3 md:p-5  cursor-pointer loginBox border-b-4 border-[#FF729F]">
                    <p class="sm:text-xl hover:scale-105 text-[#FFFFFF]">Log in</p>
                </div>
                <div class="flex-1 flex justify-center p-3 md:p-5   cursor-pointer  signupBox border-[#FF729F]">
                    <p class="sm:text-xl hover:scale-105 text-[#FFFFFF] ">Sign up</p>
                </div>
                
            </div>
            <div class="login">
                <form method="POST" class="flex flex-col gap-4 p-3 md:p-5 loginForm poppins text-[#FF729F] font-medium">
                    <div class="flex flex-col gap-2">
                        <label for="name" class="md:text-lg  text-[#FFFFFF]">Employee name</label>
                        <input type="text" name="name" id="name" class="p-1 border-2 border-[#FF729F] rounded-md focus:outline-[#FF729F]">
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="password" class="md:text-lg text-[#FFFFFF] ">Password</label>
                        <input type="password" name="password" id="password" minlength="8" class="p-1 border-2 border-[#FF729F] rounded-md focus:outline-[#FF729F]">
                    </div>
                    
                    
                    <div class="flex justify-center">
                        <input type="submit" name="submit" value="Submit" class="bg-[#FF729F]  p-3 md:p-4 hover:scale-105 cursor-pointer md:text-lg text-white rounded-full">         
                    </div>
                </form>
            </div>
            <div class="signup hidden">
                <form method="POST" class="flex flex-col gap-4 p-3 md:p-5 registerForm poppins text-[#FF729F] font-medium">
                    <div class="flex flex-col gap-2">
                        <label for="name" class="md:text-lg text-[#FFFFFF]">Employee name</label>
                        <input type="text" name="name" id="sname" class="p-1 border-2 border-[#FF729F] rounded-md focus:outline-[#FF729F]">
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="designation" class="md:text-lg text-[#FFFFFF]">Designation</label>
                         <select name="type" id="designation" class="p-1 border-2 border-[#FF729F] rounded-md focus:outline-[#FF729F]">
                            <option value="" selected disabled>Select</option>
                            <option value="Teaching">Teaching</option>
                            <option value="Non Teaching">Non Teaching</option>
                        </select>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="confirmpassword" class="md:text-lg text-[#FFFFFF]">Password</label>
                        <input type="password" name="password" id="sconfirmpassword" minlength="8" class="p-1 border-2 border-[#FF729F] rounded-md focus:outline-[#FF729F]">
                    </div>                 
                    <div class="flex justify-center">
                        <input type="submit" name="submit" value="Submit" class="bg-[#FF729F]  p-3  hover:scale-105 cursor-pointer md:text-lg text-white rounded-full">    
                    </div>
                </form>
            </div>
    </div>

    
</body>
<script>
    const login = document.querySelector('.login');
    const signup = document.querySelector('.signup');
    const loginBox = document.querySelector(".loginBox");
    const signupBox = document.querySelector(".signupBox");

    signupBox.addEventListener("click",(e)=>{
        login.classList.add('hidden');
        loginBox.classList.remove("border-b-4");
        signupBox.classList.add("border-b-4");
        signup.classList.remove('hidden');
    });
    loginBox.addEventListener("click",(e)=>{
        signup.classList.add('hidden');
        loginBox.classList.add("border-b-4");
        signupBox.classList.remove("border-b-4");
        login.classList.remove('hidden');
    });

    const loginForm = document.querySelector('.loginForm');
    const registerForm = document.querySelector('.registerForm');

    loginForm.addEventListener('submit',(e)=>{
        e.preventDefault();
        const name = document.querySelector('#name').value;
        const password = document.querySelector('#password').value;
        fetch('/auth/login',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({
                name,
                password
            })
        }).then(res=>{
            if(res.status === 200){
                window.location.href = '/home';
            }
            if(res.status === 400){
                res.json().then(data=>{
                    alert(data.message);
                });
            }
            if(res.status === 500){
                res.json().then(data=>{
                    alert(data.message);
                });
            }
        });
           
    });

    registerForm.addEventListener('submit',(e)=>{
        e.preventDefault();
        const name = document.querySelector('#sname').value;
        const password = document.querySelector('#sconfirmpassword').value;
        const type = document.querySelector('#designation').value;
        fetch('/auth/signup',{
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            body:JSON.stringify({
                name,
                type,
                password
            })
        }).then(res=>{
            if(res.status === 200){
                window.location.href = '/home';
            }
            if(res.status === 400){
                res.json().then(data=>{
                    alert(data.message);
                });
            }
            if(res.status === 500){
                res.json().then(data=>{
                    alert(data.message);
                });
            }
        });
           
    });


    
   
</script>
</html>